---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="ja">
	<head>
		<BaseHead title={`プライバシーポリシー | ${SITE_TITLE}`} description="当サイトのプライバシーポリシーと免責事項について。" />
        <meta name="robots" content="noindex" />
	</head>
	<body>
		<Header />
		<main>
			<h1>プライバシーポリシー</h1>
            <p>最終更新日: 2026年1月13日</p>

            <h2>著作権について</h2>
            <p>
                当サイトに掲載されている情報について、著作権は放棄しておりません。
                当サイト記事からの引用に関しましては「引用元の明示」によって無償で引用頂けます。
                ただし、全文転載はお断りいたしております。引用許可範囲についても、事前予告なくこれを変更する事があります。
            </p>

			<h2>個人情報の利用目的</h2>
            <p>
                当サイトでは、お問い合わせや記事へのコメントの際、名前やメールアドレス等の個人情報を入力いただく場合がございます。
                取得した個人情報は、お問い合わせに対する回答や必要な情報を電子メールなどをでご連絡する場合に利用させていただくものであり、これらの目的以外では利用いたしません。
            </p>

            <h2>広告の配信について</h2>
            <p>
                当サイトでは、第三者配信の広告サービス（Googleアドセンス、A8.net、Amazonアソシエイト）を利用しています。
                このような広告配信事業者は、ユーザーの興味に応じた商品やサービスの広告を表示するため、当サイトや他サイトへのアクセスに関する情報『Cookie』(氏名、住所、メールアドレス、電話番号は含まれません) を使用することがあります。
                またGoogleアドセンスに関して、このプロセスの詳細やこのような情報が広告配信事業者に使用されないようにする方法については、<a href="https://policies.google.com/technologies/ads?hl=ja" target="_blank">Googleのポリシーと規約</a>をご覧ください。
            </p>

            <h2>アクセス解析ツールについて</h2>
            <p>
                当サイトでは、Googleによるアクセス解析ツール「Googleアナリティクス」を利用しています。
                このGoogleアナリティクスはトラフィックデータの収集のためにCookieを使用しています。
                このトラフィックデータは匿名で収集されており、個人を特定するものではありません。
                この機能はCookieを無効にすることで収集を拒否することが出来ますので、お使いのブラウザの設定をご確認ください。
                この規約に関して、詳しくは<a href="https://marketingplatform.google.com/about/analytics/terms/jp/" target="_blank">Googleアナリティクス利用規約</a>をご覧ください。
            </p>

            <h2>免責事項</h2>
            <p>
                当サイトからリンクやバナーなどによって他のサイトに移動された場合、移動先サイトで提供される情報、サービス等について一切の責任を負いません。
                当サイトのコンテンツ・情報につきまして、可能な限り正確な情報を掲載するよう努めておりますが、誤情報が入り込んだり、情報が古くなっていることもございます。
                当サイトに掲載された内容によって生じた損害等の一切の責任を負いかねますのでご了承ください。
            </p>
		</main>
		<Footer />
	</body>
</html>
