<footer>
	&copy; {today.getFullYear()} ComfyUI Error Database. All rights reserved.
    <br>
    <a href="/privacy-policy" style="font-size: 0.8em; color: #58a6ff; text-decoration: none;">Privacy Policy</a>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: transparent;
		color: #8b949e;
		text-align: center;
		border-top: 1px solid #30363d;
		margin-top: 4rem;
	}
</style>
